body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
ul,
ol,
li,
h2,
p,
b,
a,
dl,
dd,
span {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    font-family: "微软雅黑", "宋体", "sans-serif";
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img {
    border: none;
}
input,button{
    border: 0;
    outline: 0;
}
.clearfix:after,.clearfix:before{
    clear: both;
    content: "";
    display: block;
    line-height: 0;
}
.hasbotout{
    padding-bottom:50px;
    width: 100%;
    overflow-x: hidden;
}
.hastopout{
    padding-top:58px;
    width: 100%;
    overflow-x: hidden;
}
.innerout{
    margin:0 10px 0 14px;
}
.linetitle{
    display: block;
    width: 100%;
    padding: 0;
    font-size: 21px;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom:14px;
    margin-top:6px;
}
.red{
    color: red!important;
}
.padlr0{
    padding-right: 0px;
    padding-left:0px;
}
.padtb10{
    padding-top:10px;
    padding-bottom:10px;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
.leftlabel{
    margin-bottom: 0;
    padding-left:0;
    padding-right: 0;
}
.leftlabel,.radioout{
    padding-top: 7px;
}
table td{
    vertical-align: middle!important;
}