.contexttop{
    padding: 10px 10px;
    display: table;
    width: 100%;
    border-bottom:1px solid #8D8D8D;
}
.myggleft {
    display: table-cell;
    vertical-align: middle;
}
.myggright {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    min-width: 80px;
}
.username {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 6px;
    color: #333;
}
.compname {
    font-size: 16px;
    line-height: 26px;
    color: #524c4c;
}
.usertime{
    color: red;
    font-size: 12px;
    line-height: 26px;
}
.maincont{
    padding: 10px;
    line-height:30px;
    color: #333;
    font-size: 18px;
}