.myselfout{
    width:100%;
}
.myselfbox{
    background-color: #235572;
    padding:23px 20px ;
    display: table;
    width: 100%;
}
.myselfleft{
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
}
.myselfright{
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    white-space:nowrap;
    text-align: right;
}
.username{
    font-size:22px;
    line-height:30px;
    margin-bottom:6px;
}
.compname{
    font-size:16px;
    line-height:26px;
}
.signbtn{
    border-radius: 10px;
    line-height: 30px;
    background-color: #f29400;
    padding:6px 12px;
    color: #fff;
    margin-left:23px;
    font-size:16px;
}
.signtext{
    line-height: 30px;
    font-size:18px;
    color: #fff;
}
.mycontul{
    display:table;
    width:100%;
    border-bottom: 1px solid #ddd;
}
.mycontul:first-child{
    padding-top:6px;
}
.mycontul:last-child{
    border-bottom: 0;
}
.mycontlis{
    display:table-cell;
    text-align: center;
    padding:8px 4px;
    cursor: pointer;
    width:25%;
    float: left;
}

.mycontlis a{
    text-decoration: none;
    display: block;
}
.mycontlis span{
    color: #f29400;
    font-size:30px;
    margin-bottom:10px;
}
.mycontlis p{
    font-size:12px;
    color: #8D8D8D;
}
.per_smicon{
    display: block;
    position: relative;
}
.per_smiconpop{
    position: absolute;
    font-style: normal;
    background-color:red;
    color: #fff;
    top:-16px;
    border-radius:12px;
    padding:3px 8px;
    left:55%;
    font-size:12px;
}