<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台统计</title>
    <link rel="stylesheet" href="http://webimg.mp12345.com/jslib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/statiStics.css">
    <link rel="stylesheet" href="css/diseaseRegister.css">
    <link rel="stylesheet" href="http://webimg.mp12345.com/jslib/paging/paging.css"/>
    <link rel="stylesheet" href="http://webimg.mp12345.com/jslib/paging/pagingNcov.css"/>
    <script src="http://webimg.mp12345.com/jslib/jquery/jquery.min.js"></script>
    <script src="http://webimg.mp12345.com/jslib/bootstrap/bootstrap.js"></script>
    <script src="js/common.js?v=0.4"></script>
    <script src="http://webimg.mp12345.com/jslib/template/template.js"></script>
    <script src="js/templateHelper.js?v=0.1"></script>
    <script src="http://webimg.mp12345.com/jslib/paging/paging.js?v=0.1"></script>
    <script src="http://webimg.mp12345.com/jslib/ajaxDom.js?v=0.1"></script>
    <script src="http://webimg.mp12345.com/jslib/moment/moment.js"></script>
    <script src="http://webimg.mp12345.com/jslib/<script src="http://webimg.mp12345.com/jslib/paging/paging.js?v=0.1"></script>/layer.js"></script>
    <script src="http://webimg.mp12345.com/jslib/laydate/laydate.js"></script>
    <link href="http://webimg.mp12345.com/jslib/select2/select2.min.css" rel="stylesheet" />
    <script src="http://webimg.mp12345.com/jslib/select2/select2.min.js"></script>

    <script	type="text/javascript" src="https://webimg.mp12345.com/js/js-xlsx/xlsx.core.min.js"></script>
    <script type="text/javascript" src="/ncov/js/importexcal/checkin.js"></script>
</head>
<body class="hastopout">
<div class="modal" id="exportmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">导出excel</h4>
            </div>
            <div id="">
                <div class="modal-body">
                    <form id="exportBody">
                        <div class="form-group">
                            <label>提交时间<span class="red">*</span></label>
                            <input type="text" name="cdate" id="exportdate" class="form-control" readonly style="background-color: #fff;">
                        </div>
                        <div class="form-group">
                            <label>部门</label>
                            <select name="divi" class="form-control addinputs" style="width:100%!important;">
                                <option value="">选择部门</option>
                            </select>
                        </div>
                    </form>
                    <p class="text-danger" style="padding: 4px 0 8px;">
                        若点击导出没有反应请打开电脑端下载
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="exportexcel()">
                    确定导出
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
    <!--#include file="/ncov/headerback.html"-->
    <div class="innerout">
        <div class="staticbox">
            <div class="tjout">
                <p class="linetitle">统计总人数 今日上报</p>
                <div class="table-responsive">
                    <table class="table table-bordered" id="todynumber">

                    </table>
                </div>
            </div>
            <div class="tjout">
                <p class="linetitle">统计状态 今日上报状态</p>
                <table class="table table-bordered" id="todystate">
                </table>
            </div>
            <div class="tjout">
                <p class="linetitle">统计状态 健康考勤记录</p>
                <form action="#" id="searchForm">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">员工姓名</span>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">联系方式</span>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">部门</span>
                        <select name="divi" class="form-control addinputs" style="min-width:100px;">
                            <option value="">选择部门</option>
                        </select>
                        <!--<select id="divi" name="divi" class="form-control selectpicker" data-live-search="true">-->
                            <!--<option data-subtext="">选择部门</option>-->
                        <!--</select>-->
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">职位</span>
                        <input type="text" name="job" class="form-control">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">上报日期</span>
                        <input type="text" name="cdate" id="importdate" class="form-control" readonly style="background-color: #fff;">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">身体状态</span>
                        <select name="state" class="form-control addinputs" style="min-width:100px;">
                            <option value="">选择身体状态</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">是否接触湖北</span>
                        <select name="hubei" class="form-control addinputs" style="min-width:100px;">
                            <option value="">选择是否接触</option>
                            <option value="1">是</option>
                            <option value="2">否</option>
                        </select>
                    </div>
                    <div class="botbtn row">
                        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
                            <button type="button" class="btn btn-success" style="width:80%" onclick="datalist(1)">查询</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
                            <button type="button" class="btn btn-danger" style="width:80%" onclick="clearfrom('#searchForm',selectclear())">清空</button>
                        </div>
                    </div>
                </form>
                <div style="padding:8px 0;">
                    <button type="button" class="btn btn-primary" onclick="exportexcelout()">导出excel</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="msgdata">
                    </table>
                </div>
                <div id="pageTool" class="newpages"></div>
            </div>
        </div>
    </div>
<script type="text/html" id="v_todydata">
    <tbody>
        <tr>
            <th>
                总人数
            </th>
            <th>
                今日上报次数
            </th>
            <th>
                今日上报总人数
            </th>
            <th>
                未上报人数
            </th>
        </tr>
        <tr>
            <td>
                {{data.memberCount}}
            </td>
            <td>
                {{data.reportCount}}
            </td>
            <td>
                {{data.groupReportCount}}
            </td>
            <td>
                {{data.memberCount-data.groupReportCount}}
                <a href="notReport.html" class="btn btn-warning" style="margin-left:16px;">查看</a>
            </td>
        </tr>
    </tbody>

</script>
<script type="text/html" id="v_todystate">
    <tbody>
        {{each info as item index }}
        <tr>
            <td>
                {{item.text}}
            </td>
            <td>
                {{item.number}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</script>
    <script type="text/html" id="v_msgdata">

        {{if data.length>0}}
        <thead>
        <tr>
            <th>
                姓名
            </th>
            <th>
                体温
            </th>
            <th>
                提交时间
            </th>
            <th>
                联系方式
            </th>
            <th>
                状态
            </th>
            <th>
                是否接触过疫区人员、疑似病例或确诊病例
            </th>
            <th>
                部门
            </th>
            <th>
                职位
            </th>
            <th>
                申报地址
            </th>
            <th>
                入院情况
            </th>
        </tr>
        </thead>
        <tbody>
        {{each data as data index}}
        <tr>
            <td>
                {{data.name}}
            </td>
            <td>
                {{data.temperature}}
            </td>
            <td>
                {{data.cdatenow}}
            </td>
            <td>
                {{data.phone}}
            </td>
            <td>
                {{data.state | getType}}
            </td>
            <td>
                {{if data.hubei== 1}}
                是
                {{else if data.hubei== 2}}
                否
                {{/if}}
            </td>
            <td>{{data.divi}}</td>
            <td>{{data.job}}</td>
            <td>
               {{data.recommend}}
            </td>
            <td>
                {{data.content}}
            </td>
        </tr>
        {{/each}}
        </tbody>
        {{else}}
        <tr>
            <td class="text-danger">
                暂无数据
            </td>
        </tr>
        {{/if}}
    </script>
</body>
</html>
<script>
    var compname=GetQueryValue('name')?GetQueryValue('name'):'';
    var admin=GetQueryValue('admin')?GetQueryValue('admin'):'';
    var urlone='',urltwo='',urlthree='';
    urlone='/publish/statis/member.json';
    urltwo='/publish/statis/memberState.json';
    urlthree='/publish/statis/memberInfo.json';
    $(function () {
        /*-- 获取统计数 --*/
        $.ajaxDom('#todynumber',{
            type: "get",
            url:urlone,
            data:{company:compname},
            success:function (data) {
                console.log(data);
                console.log('================')
                var todydata = template('v_todydata', data);
                $("#todynumber").empty().append(todydata);
            }
        })
        $.ajaxDom('#todystate',{
            type: "get",
            url:urltwo,
            data:{company:compname},
            success:function (data) {
                data.info=[
                    {text:getType(1),state:1,number:0},
                    {text:getType(2),state:2,number:0},
                    {text:getType(3),state:3,number:0},
                    {text:getType(4),state:4,number:0},
                    {text:getType(5),state:5,number:0},
                    {text:getType(6),state:6,number:0},
                ];
                for(var i=0;i<data.data.length;i++){
                    for(var j=0;j<data.info.length;j++){
                        if(data.data[i].state==data.info[j].state){
                            data.info[j].number=data.data[i].c
                        }
                    }
                }
                var todystate = template('v_todystate', data);
                $("#todystate").empty().append(todystate);
            }
        })
    })

    var pageindexnow=1;
    var pagesizeout=10;

    /*-- 获取统计详细数据 --*/
    function datalist(pageindex,pagesize){
        pagesize=pagesize?pagesize:pagesizeout;
        if (pageindex == undefined || pageindex == null) {
            pageindex = pageindexnow;
        } else {
            pageindexnow = pageindex;
        }
        var page = new Paging();
        $.ajaxDom('#msgdata',{
            type: "get",
            url:urlthree,
            data:{
                company:compname,
                pageNumber: pageindexnow,
                pageSize:pagesize,
                name:$('#searchForm input[name="name"]').val(),
                phone:$('#searchForm input[name="phone"]').val(),
                divi:$('#searchForm select[name="divi"]').val(),
                job:$('#searchForm input[name="job"]').val(),
                cdate:$('#searchForm input[name="cdate"]').val(),
                state:$('#searchForm select[name="state"]').val(),
                hubei:$('#searchForm select[name="hubei"]').val(),
            },
            success:function (data) {

                var dataInfo=data.data;
                if(dataInfo.data.length>0){
                    for(var i=0;i<dataInfo.data.length;i++){
                        if(dataInfo.data[i].cdate){
                            dataInfo.data[i].cdatenow=moment(dataInfo.data[i].cdate).format('YYYY-MM-DD HH:mm:ss')
                        }
                    }
                }
                var msgdata = template('v_msgdata', data.data);
                $("#msgdata").empty().append(msgdata);
                if(dataInfo.data.length<1){
                    $('#pageTool').hide();
                }else{
                    $('#pageTool').show();
                }

                pageSize(pageindexnow,pagesize)
                function pageSize(pagenumber, pagesize) {
                    page.init({
                        target: $('#pageTool').empty(),
                        pagesize: pagesize,
                        count: data.data.totalCount,
                        toolbar: true,
                        current: pagenumber,
                        //hash: true ,
                        changePagesize: function (_psize, _pnumber) {
                            pagesizeout=_psize;
                            datalist(1,_psize)
                        },
                        callback: function (_pnumber, _psize, count) {
                            pagesizeout=_psize;
                            datalist(_pnumber,_psize)
                        }
                    });
                }
            }
        })
    }

</script>
<script>
    $(function () {
        laydate.render({
            elem: '#importdate',
            format: 'yyyy-MM-dd',
        });
        var Healthyarr = []
        for (var i in Healthyobj) {
            var obj={};
            obj.name=Healthyobj[i];
            obj.value=i;
            Healthyarr.push(obj);
        }
        for (var i = 0; i <Healthyarr.length; i++) {
            var datainfo = Healthyarr[i];
            $("#searchForm select[name='state']").append(`
                        <option value='${datainfo.value}'>${datainfo.name}</option>
                    `);
        }

    })
</script>
<script type="text/javascript">
    $(function () {
        dividata("#searchForm select[name='divi']")
        var selectorx = $("#searchForm select[name='divi']").select2();
        dividata("#exportBody select[name='divi']")
        var selectorx2 = $("#exportBody select[name='divi']").select2();
        laydate.render({
            elem: '#exportdate',
            format: 'yyyy-MM-dd',
            value: moment(new Date()).format('YYYY-MM-DD')
        });

        datalist(1);
    })
    function selectclear() {
        $("#searchForm select[name='divi']").val("选择部门").select2();
    }

    /*-- 导出弹出框 --*/
    function exportexcelout() {
        $('#exportmyModal').modal('show');
    }
    /*-- excel 导出 --*/
    function exportexcel(){
        var exporttime=$('#exportBody input[name="cdate"]').val();
        if(exporttime.trim()==''){
            layer.msg('请选择查询时间')
        }else{
            $.ajaxDom('body',{
                type:'get',
                url:'/publish/excelData/report.json',
                data:{
                    cdate:exporttime,
                    divi:$("#exportBody select[name='divi']").val(),
                },
                success:function (data) {
                    /*-- 下载模板 --*/
                    /*json 导出*/
                    console.log(data);
                    if(data.data.length>0){
                        var aoa = [
                            ['姓名', '体温','提交时间', '联系方式', '状态', '是否接触过疫区人员、疑似病例或确诊病例','部门','职位','申报地址'],
                        ];
                        // console.log(aoa)
                        for(var i=0;i<data.data.length;i++){
                            var dataInfo=data.data[i];
                            aoa.push([
                                dataInfo.name,
                                dataInfo.temperature+'℃',
                                moment(dataInfo.cdate).format('YYYY-MM-DD HH:mm:ss'),
                                dataInfo.phone,
                                getType(dataInfo.state),
                                dataInfo.hubei==1?'是':'否',
                                dataInfo.divi,
                                dataInfo.job,
                                dataInfo.province+dataInfo.city+dataInfo.district+dataInfo.recommend
                            ]);
                        }
                        var sheet = XLSX.utils.aoa_to_sheet(aoa);
                        var df=moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
                        openDownloadDialog(sheet2blob(sheet), '员工健康考勤列表'+df+'.xls');
                    }else{
                        layer.msg('该时间没有员工健康考勤人员');
                    }

                }
            })
        }

    }
</script>