<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增公司</title>
    <link rel="stylesheet" href="http://webimg.mp12345.com/jslib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="http://webimg.mp12345.com/jslib/jquery/jquery.min.js"></script>
    <script src="http://webimg.mp12345.com/jslib/bootstrap/bootstrap.js"></script>
    <script src="../js/common.js?v=0.2"></script>
    <script src="http://webimg.mp12345.com/jslib/layer/layer.js"></script>
    <script src="http://webimg.mp12345.com/jslib/moment/moment.js"></script>
    <script src="http://webimg.mp12345.com/jslib/template/template.js"></script>
    <script src="/ncov/js/templateHelper.js?v=0.2"></script>
    <script src="http://webimg.mp12345.com/jslib/ajaxDom.js"></script>
</head>
<body>

<div class="innerout" style="padding:20px 0;">

    <div class="input-group">
        <input id="company" class="form-control" placeholder="请填写公司名称"/>
        <input id="address" class="form-control" placeholder="请输入公司地址"/>
        <span class="input-group-addon btn btn-primary" onclick="addCompany()">新增</span>
    </div>
    <div>
        <p class="linetitle">已存在公司</p>
        <!--跳转后台统计-->
        <div style="padding-bottom:10px;">
            <a class="btn btn-primary" href="datastatiSticsAdmin.html" style="margin-right:6px;">
                查看所有人员统计
            </a>
            <a class="btn btn-warning" href="desirePerson.html" style="margin-right:6px;">
                查看意向用户
            </a>
        </div>
        <!--<a href="datastatiSticsAdmin.html" id="dataStateBtn" class="dataState" style="padding-bottom:10px;display: block;">-->
            <!--查看所有人员统计 >-->
        <!--</a>-->
        <!--<ul  class="list-group">-->
        <!--</ul>-->
        <div class="table-responsive">
            <table class="table table-bordered" id="companyList">
            </table>
        </div>
    </div>
</div>
<script type="text/html" id="v_dataComp">
    <tbody>
    <tr>
        <th>
            操作
        </th>
        <th>
            公司名称
        </th>
        <th>
            公司地址
        </th>
        <th>
            创建时间
        </th>
    </tr>
    {{each data as item index}}
    <tr>
        <td>
            <a href="datastatiSticsAdmin.html?name={{item.company}}&id={{item.id}}" class="btn btn-danger">
                查看统计
            </a>
            <br>
            {{if item.ticket==''}}
            <a href="javascript:;" onclick="openVisitor('{{item.id}}')" class="btn btn-warning" style="margin:5px 0 0">
                开通访客
            </a>
            {{else}}
            <a href="javascript:;" class="btn btn-default" style="margin:5px 0 0">
                已开通访客
            </a>
            {{/if}}
            {{if item.register==''}}
            <a href="javascript:;" onclick="openRegister('{{item.id}}')" class="btn btn-success" style="margin:5px 0 0">
                开通注册
            </a>
            {{else}}
            <a href="javascript:;" class="btn btn-default" style="margin:5px 0 0">
                已开通注册
            </a>
            {{/if}}
        </td>
        <td>
            <a href="staffList.html?name={{item.company}}&id={{item.id}}" >
                {{item.company}}
            </a>
        </td>
        <td>
            {{item.address}}
        </td>
        <td>
            {{item.cdate | moment:'YYYY-MM-DD HH:mm:ss'}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</script>
<script>
    $(function () {
        init();
    });
    function init() {
        $.ajax({
            url: '/admin/company/list.json',
            success: function (res) {
                var dataComp = template('v_dataComp', res);
                $("#companyList").empty().append(dataComp);
            }
        })
    }
    function addCompany() {
        var company = $('#company').val();
        var address = $('#address').val();
        if (!$.trim(company)) {
            layer.msg('请输入添加的公司名称')
            return;
        }
        if (!confirm("确定要新增吗?")) {
            return;
        }
        $.ajax({
            url: '/admin/company.json',
            type: 'post',
            headers: {'Content-Type': 'application/json;charset=UTF-8'},
            data: JSON.stringify({company: company,address:address}),
            success: function (res) {
                if (res.success) {
                    $('#company').val('');
                    $('#adress').val('');
                    init();
                    layer.msg('保存成功');
                } else {
                    layer.msg(res.message);
                }
            }
        })
    }
    /* 开通注册 */
    function openRegister(id) {
        var openRegister=layer.confirm('确定要开通注册吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajaxDom('body',{
                type:'get',
                url:'/admin/company/openRegister.json',
                data:{id:id},
                success:function (data) {
                    console.log(data);
                    console.log('++++++++++++++')
                    if(data.success){
                        layer.close(openRegister);
                        layer.msg('开通成功');
                        init();
                    }else{
                        layer.close(openRegister);
                        layer.msg(data.message);
                    }
                }
            })
        })
    }
    /* 开通访客 */
    function openVisitor(id) {
        var openVisitor=layer.confirm('确定要开通访客吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajaxDom('body',{
                type:'get',
                url:'/admin/company/openVisitor.json',
                data:{id:id},
                success:function (data) {
                    console.log(data);
                    console.log('++++++++++++++')
                    if(data.success){
                        layer.close(openVisitor);
                        layer.msg('开通成功');
                        init();
                    }else{
                        layer.close(openVisitor);
                        layer.msg(data.message);
                    }
                }
            })
        })
    }
</script>
</body>
</html>